#page.details .wrap {
  table {
    width: 100%;
    margin: 20px 0;
    tr {
      &:nth-child(odd) {
        td:nth-child(2) {
          background: rgba(255, 215, 0, 0.1);
        }
      }
    }
    td {
      padding: 15px 10px;
      border: 2px solid #fff;
      &:first-child {
        background: rgba(255, 215, 0, 0.27);
      }
    }
  }
}
