@font-face {
 font-family: 'frutiger';
 src: image-url("font/frutiger/Frutiger_CE_45_Light.ttf");
 font-weight: 600;
}
@font-face {
 font-family: 'pressura';
 src: image-url("font/pressura/GT-Pressura-Regular.otf");
 font-weight: 600;
}
