<div class="wrap visit">
  <div class="content">
    <h1>Visiter</h1>
    <p>
      Lorem ipsum dolor sit amet, posuere eros, vitae tempus mi eros nec metus.
    </p>

    <%= render "map" %>

  </div>

  <%= render "pages/buttons/forward", text: "Détails", url: "details" %>
</div>
