<section id="home">

  <%= image_tag "home/logo.png" %>

  <div class="reserve">Réserver</div>

  <header>
    <nav>
      <a>Visiter</a>
      <a>Détails</a>
      <a>Agenda</a>
      <a>Contact</a>
    </nav>

  </header>

</section>
