var $current = $("#container section#page .slide.current"),
    $next = $("#container section#page .slide.next");

// add new content
$next.html('<%= j render "pages/#{params[:page]}" %>');
document.dispatchEvent(pageFetch);

// slide
$current.removeClass("current").addClass("previous");
$next.removeClass("next").addClass("current");

// clean
setTimeout(function() {
  $current.remove();
  $('<div class="slide next"></div>').insertAfter($next);
  document.dispatchEvent(pageLoad);
}, 1000);
