var $current = $("#container section#page .slide.current"),
    $previous = $("#container section#page .slide.previous");

// add new content
$previous.html('<%= j render "pages/#{params[:page]}" %>');
document.dispatchEvent(pageFetch);

// slide
$current.removeClass("current").addClass("next");
$previous.removeClass("previous").addClass("current");

// clean
setTimeout(function() {
  $current.remove();
  $('<div class="slide previous"></div>').insertBefore($previous);
  document.dispatchEvent(pageLoad);
}, 1000);
