#container section#page {

  .wrap {
    position: absolute;
    width: 100%;
    min-height: 100vh;
  }

  .slide {
    transition: transform 1s linear;
  }

  .slide.current {
    transform: translateX(0);
  }

  .slide.next {
    transform: translateX(100%);
  }

  .slide.previous {
    transform: translateX(-100%);
  }

  .content {
    padding: 20px 150px;
    width: 100%;
    h1 {
      text-align: center;
      text-transform: uppercase;
      font-family: "pressura", sans-serif;
    }
    h2 {
      padding: 45px 0 30px 0;
      font-family: "pressura", sans-serif;
    }
  }

  .forward {
    position: absolute;
    top: 15px;
    right: 0;
  }

  .backward {
    position: absolute;
    top: 15px;
    left: 0;
  }
}
