@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #228DFF, 0 0 20px #fff, 0 0 30px #228DFF, 0 0 40px #228DFF;
  }
  to {
    text-shadow: 0 0 60px #228DFF, 0 0 70px #fff, 0 0 80px #228DFF, 0 0 95px #228DFF;
  }
}
@-moz-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #228DFF, 0 0 20px #fff, 0 0 30px #228DFF, 0 0 40px #228DFF;
  }
  to {
    text-shadow: 0 0 60px #228DFF, 0 0 70px #fff, 0 0 80px #228DFF, 0 0 95px #228DFF;
  }
}
@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #228DFF, 0 0 20px #fff, 0 0 30px #228DFF, 0 0 40px #228DFF;
  }
  to {
    text-shadow: 0 0 60px #228DFF, 0 0 70px #fff, 0 0 80px #228DFF, 0 0 95px #228DFF;
  }
}
